<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">เพิ่มสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of userall ">

      <ion-item-sliding>
        <ion-item>
          <ion-thumbnail slot="start">
          </ion-thumbnail>
          <ion-label>{{item.username}}</ion-label>
          <ion-label>{{item.password}}</ion-label>
          <ion-label>{{item.role}}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="edit(item)">
            <ion-icon name="create-outline"></ion-icon>EDIT
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteitem(item)">
            <ion-icon name="trash-outline"></ion-icon>DEL
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-list>






  <div class="ion-text-center">
    <ion-button shape="round" color="success" (click)="Create()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>





</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="speakers" [routerLink]="['/record']">
    <ion-icon name="home-sharp"></ion-icon>
    <ion-label></ion-label>
  </ion-tab-button>
  <ion-tab-button tab="schedule" [routerLink]="['/createuser']">
    <ion-icon name="person-circle"></ion-icon>
    <ion-label>เพิ่มuser</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="speakers" [routerLink]="['/statistics']">
    <ion-icon name="stats-chart-sharp"></ion-icon>
    <ion-label>สถิติ</ion-label>
  </ion-tab-button>

</ion-tab-bar>