<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-header class="ion-no-border">
  <ion-item lines="none" color="medium">
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label class="ion-text-center">
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-card >
    <ion-card-header>
      <ion-label class="ion-text-center">
        <h1>เข้าสู่ระบบ</h1>
      <br>
      </ion-label>
      <ion-item transparent>
        <ion-icon name="person-sharp"></ion-icon><br>
        <ion-input [(ngModel)]="Username" plceholder="Username" type="text"> :</ion-input>
      </ion-item><br>
      <ion-item transparent>
        <ion-icon name="lock-closed-sharp"></ion-icon>
        <ion-input [(ngModel)]="Password" plceholder="Password" type="Password"> :</ion-input>
      </ion-item>
      <br>
      <div class="ion-text-center">
        <ion-button color="primary" (click)="LoginOTP()">LOGIN</ion-button>
      </div>

    </ion-card-header>
  </ion-card>

</ion-content>